.slot {
  text-align: center;
  background-color: blue;
  border-color: blue;

  [class^='disc'] {
    height: 14vh;
    border-radius: 50%;
    // background-color: white;
    margin: 8%;
  }

  .disc-white {
    background-color: white;
  }

  .disc-yellow {
    background-color: yellow;
  }

  .disc-red {
    background-color: red;
  }
}
